.login-container {
	display: flex;
	margin-top: 2rem;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.2);
}

.login-container-left {
	display: flex;
	border-radius: 10px 0px 0px 10px;
	padding: 0.5rem 2rem 1rem 2rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
}

.login-container-left-inner {
	display: flex;
	max-width: 20rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-container-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 25rem;
	justify-content: space-evenly;
	border-radius: 0px 10px 10px 0px;
	align-items: center;
	padding: 0.5rem 2rem 1rem 2rem;
	opacity: 1;
}

.image {
	opacity: 1;
	background-image: url("../assets/monkey_smoke.jpg");
	background-size: cover;
	padding: 0;
}

.image > .login-container-right {
	opacity: 0.9;
}

.input {
	outline: none;
	width: 20rem;
	background-color: rgb(230, 230, 230);
	padding: 0.5rem 1rem 0.5rem 1rem;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}

.input-error {
	/* background-color: rgb(241, 241, 241); */
	background-color: rgb(255, 75, 75);
	/* border: 1px solid rgb(224, 99, 99); */
}

.input:focus {
	background-color: rgb(216, 216, 216);
}

.button {
	border-radius: 10px;
	margin-top: 0.25rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	transition: left 0.3s ease;
}

.button:hover {
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
	transform: scale(1.05);
}

.other-option {
	width: 100%;
	text-align: start;
	margin-top: 0.5rem;
}

.other-option > p {
	width: fit-content;
}

.other-option:hover {
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
	.login-container {
		flex-direction: column;
	}
	.login-container-left {
		border-radius: 10px 10px 0px 0px;
	}

	.login-container-right {
		border-radius: 0px 0px 10px 10px;
	}
}
