.table-container {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.table {
	width: 1024px;
}

.table-row:hover {
	background-color: cadetblue;
}

.filter-container {
	margin-top: 0.5rem;
	padding: 0.5rem;
	border-radius: 10px 10px 0px 0px;
	background-color: lightgray;
}

.filter-options-container {
	height: 50px;
	width: 100%;
}
